.hero {
    height: 80vh;
    background-image: url("../assets/images/mothers_day.webp");
    background-size: cover;
    background-position: center;

    position: relative;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.3);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
}

.hero-overlay h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

.hero-overlay p {
    margin-bottom: 20px;
}

.hero-overlay button {
    padding: 12px 25px;
    border: none;
    background: white;
    color: black;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.hero-overlay button:hover {
    background: #eee;
}